In [2]:
import numpy as np
import pandas as pd

Rearanjando e limpando os dados:

In [71]:
raw_data = pd.read_csv('data/com_garrafao_no_centro',  sep=", | -> ", names = ["timestamp", "intern_clock", 7, 6, 8, 5, 3, 1, 2, 4], engine = "python")
cols = ["timestamp", "intern_clock", 1, 2, 3, 4, 5, 6, 7, 8]
raw_data = raw_data[cols]
raw_data.drop('intern_clock', inplace=True, axis=1)
raw_data.drop('timestamp', inplace=True, axis=1)
raw_data = raw_data.astype({1:"int", 2:"int", 3:"int", 4:"int", 5:"int", 6:"int", 7:"int", 8:"int"})
raw_data

     1  2  3  4       5        6        7      8
0    0  0  0  0  625080  2241356 -3838457 -32647
1    0  0  0  1  625402  2241219 -3838563 -32551
2    0  0  0  0  625585  2241310 -3838803 -32209
3    2  1  0  0  625978  2241331 -3838797 -32217
4    0  0  0  0  626355  2241541 -3838423 -32305
..  .. .. .. ..     ...      ...      ...    ...
368  1  2  0  0  683691  2243088 -3843122 -28880
369  0  0  0  1  683567  2243382 -3842770 -28914
370  0  0  0  0  683702  2243418 -3842754 -28871
371  0  0  0  0  684013  2243223 -3842683 -29353
372  0  0  0  0  683891  2243047 -3842522 -29765

[373 rows x 8 columns]

Extraindo médias para fazer "tara" dos sensores.

In [69]:
raw_data.shape[0]

373

In [70]:
print(raw_data.sum()/raw_data.shape[0])

1    4.289544e-01
2    3.780161e-01
3    2.144772e-02
4    2.144772e-01
5    6.584475e+05
6    2.242212e+06
7   -3.839744e+06
8   -3.014538e+04
dtype: float64

Os valores encontrados na última operação podem ser usados para corrigir os dados recolhidos pelos sensores.